/* .slick-prev:before,
.slick-next:before {
    line-height: 40px;
    display: flex;
    justify-content: center;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    background: rgba(159, 159, 159, 0.5);
    border-radius: 50%;
}

.slick-prev:hover,
.slick-next:hover {
    background: rgba(0, 0, 0, 0.8);
} */

.slick-prev:before,
.slick-next:before {
    content: none !important;
}

@media (max-width: 767px) {

    .slick-prev,
    .slick-next {
        display: none !important;
    }
}

.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    margin: 0 2px;
    display: inline-flex;
    width: auto;
}

.slick-dots li .custom-dot-line {
    height: 2px;
    width: 8px;
    background: #bbb;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slick-dots li.slick-active .custom-dot-line {
    width: 40px;
    background: #dd00dd;
}

.slick-list {
    border-radius: 1rem;
}